## Requirements

In [ ]:
!mkdir /root/.kaggle/
!pip install pandas
import pandas as pd
import numpy as np
import os
import json


# Installing the Kaggle package
!pip install kaggle 

#Important Note: complete this with your own key - after running this for the first time remmember to **remove** your API_KEY
api_token = {"username":"something","key":"keykeykey"}

# creating kaggle.json file with the personal API-Key details 
# You can also put this file on your Google Drive
with open('/root/.kaggle/kaggle.json', 'w') as file:
  json.dump(api_token, file)
!chmod 600 /root/.kaggle/kaggle.json

mkdir: cannot create directory ‘/root/.kaggle/’: File exists
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.1.4)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.9)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (0.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)

## Q1

In [ ]:
# download the dataset from Kaggle and unzip it
!kaggle datasets download -dcsanhueza/the-marvel-universe-social-network -p ./datasets/marvel/
!unzip ./datasets/marvel/*.zip  -d ./datasets/marvel/

edges_df = pd.read_csv('/content/datasets/marvel/edges.csv')
net_df = pd.read_csv('/content/datasets/marvel/hero-network.csv')
nodes_df = pd.read_csv('/content/datasets/marvel/nodes.csv')

the-marvel-universe-social-network.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  ./datasets/marvel/the-marvel-universe-social-network.zip
replace ./datasets/marvel/edges.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: ./datasets/marvel/edges.csv
  inflating: ./datasets/marvel/hero-network.csv
  inflating: ./datasets/marvel/nodes.csv

### 1

In [ ]:
net_df['hero1'], net_df['hero2'] = (net_df['hero1'].str.strip(), net_df['hero2'].str.strip())
nodes_df['node'] = nodes_df['node'].str.strip()

hero_nodes = nodes_df[nodes_df['type'] == 'hero']
hero_nodes = list(set(hero_nodes['node'].values))

# no self loops
net_df = net_df[net_df['hero1'] != net_df['hero2']]
net_df = net_df.drop_duplicates(['hero1','hero2'])

friendly = set(net_df['hero1']) | set(net_df['hero2'])
print('\n\t1. The number of heroes without friends is:', len(hero_nodes) - len(friendly))

	1. The number of heroes without friends is: 18

## 2

In [ ]:
!pip install python-Levenshtein

Collecting python-Levenshtein
  Downloading https://files.pythonhosted.org/packages/42/a9/d1785c85ebf9b7dfacd08938dd028209c34a0ea3b1bcdb895208bd40a67d/python-Levenshtein-0.12.0.tar.gz (48kB)
     |████████████████████████████████| 51kB 1.9MB/s
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from python-Levenshtein) (50.3.2)
Building wheels for collected packages: python-Levenshtein
  Building wheel for python-Levenshtein (setup.py) ... done
  Created wheel for python-Levenshtein: filename=python_Levenshtein-0.12.0-cp36-cp36m-linux_x86_64.whl size=144791 sha256=602c96c6bba4612f6830a6434a9a6ce714419b47f3e9479b04710ee4c43419ae
  Stored in directory: /root/.cache/pip/wheels/de/c2/93/660fd5f7559049268ad2dc6d81c4e39e9e36518766eaf7e342
Successfully built python-Levenshtein
Installing collected packages: python-Levenshtein
Successfully installed python-Levenshtein-0.12.0

In [ ]:
import Levenshtein as lv


real_spidy = 'SPIDER-MAN/PETER PAR'
hero2 = 'CAPTAIN AMERICA'


almost_spidy = [i for i in all_heros.union(hero_nodes) if lv.distance(real_spidy.lower().split('/')[0], i.lower().split('/')[0]) < 2]

captain_friends = net_df[(net_df['hero1'] == hero2) | (net_df['hero2'] == hero2)]
spider_friends = net_df[(net_df['hero1'].isin(almost_spidy)) | (net_df['hero2'].isin(almost_spidy))]

captain_friends = pd.DataFrame(pd.unique(captain_friends[['hero1', 'hero2']].values.ravel('K'))).rename(columns={0:'friends'})
spider_friends = pd.DataFrame(pd.unique(spider_friends[['hero1', 'hero2']].values.ravel('K'))).rename(columns={0:'friends'})

captain_friends = pd.DataFrame(captain_friends[(captain_friends['friends'] != hero2) & (~captain_friends['friends'].isin(almost_spidy))])
spider_friends = pd.DataFrame(spider_friends[(spider_friends['friends'] != hero2) & (~spider_friends['friends'].isin(almost_spidy))])

c_friends = []
for i in captain_friends['friends']:
  for j in spider_friends['friends']:
    if i == j:
      c_friends.append(i)
print(len(c_friends))

921

## 3

In [ ]:
name = [hero_nodes[0], list(hero_nodes)[0]]
for i in hero_nodes:
  if len(i) < len(name[0]):
    name[0] = i
  
  if len(i) > len(name[1]):
    name[1] = i

shortests = list(filter(lambda x: len(x) == len(name[0]), hero_nodes))
longests = list(filter(lambda x: len(x) == len(name[1]), hero_nodes))

print('Shortest names:', shortests, '\nLongest names:', longests)

Shortest names: ['M', 'T', 'Q', 'A', 'P']
Longest names: ['SPIDER-MAN/PETER PARKERKER']

## 4

In [ ]:
def not_spidey_friend(hero):
  spidey_tot = set(net_df[net_df['hero1'].isin(almost_spidy)]['hero2'].values) | set(net_df[net_df['hero2'].isin(almost_spidy)]['hero1'].values)

  hero_tot = set(net_df[net_df['hero2'] == hero]['hero1'].values) | set(net_df[net_df['hero1'] == hero]['hero2'].values)
  

  if hero in spidey_tot:
    spidey_tot.remove(hero)
    
  for i in almost_spidy:
    if i in hero_tot:
      hero_tot.remove(i)
  
  # print(len(spidey_tot))
  return len(list(filter(lambda n: n not in spidey_tot, hero_tot)))

not_spidey_friend('IRON MAN/TONY STARK')

735

## 5

In [ ]:
srch = 'CAPTAIN AMERICA'

temp = net_df[net_df['hero1'] == srch]['hero2'].values
lst = list(set(np.append(temp, net_df[net_df['hero2'] == srch]['hero1'].values)))

friends = []

for frnd in lst:
  temp = net_df[net_df['hero1'] == frnd]['hero2'].values
  fr_lst = list(set(np.append(temp, net_df[net_df['hero2'] == frnd]['hero1'].values)))
  friends = list(set(np.append(friends, fr_lst)))

print(len(friends))

6364

# **Q2**

In [ ]:
!kaggle datasets download usgs/earthquake-database  -p ./datasets/earthquake/
!unzip ./datasets/earthquake/*.zip  -d ./datasets/earthquake
earthquakes_df = pd.read_csv('/content/datasets/earthquake/database.csv')

earthquake-database.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  ./datasets/earthquake/earthquake-database.zip
replace ./datasets/earthquake/database.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: N

## 1

In [ ]:
earthquakes_df[earthquakes_df['Magnitude'] == earthquakes_df['Magnitude'].max()]

             Date      Time  ...  Magnitude Source    Status
17083  12/26/2004  00:58:53  ...          OFFICIAL  Reviewed
20501  03/11/2011  05:46:24  ...          OFFICIAL  Reviewed

[2 rows x 21 columns]

## 2

In [ ]:
nuclear_explosion = earthquakes_df[earthquakes_df['Type'] == 'Nuclear Explosion']
nuclear_explosion['Magnitude'].mean()

5.850685714285718

## 3

In [ ]:
from pandas.core.common import SettingWithCopyWarning

warnings.filterwarnings("ignore", category=SettingWithCopyWarning)

earthquakes_df['Date'] = earthquakes_df['Date'].str[-4:]
earthquakes_up_6 = earthquakes_df[earthquakes_df['Magnitude'] > 6]
earthquakes_up_6 = pd.DataFrame(earthquakes_up_6.groupby(earthquakes_up_6['Date'])['Date'].count())
earthquakes_up_9 = earthquakes_df[earthquakes_df['Magnitude'] > 9]
earthquakes_up_9 = pd.DataFrame(earthquakes_up_9.groupby(earthquakes_up_9['Date'])['Date'].count())


mx6 = earthquakes_up_6[earthquakes_up_6['Date'] == earthquakes_up_6['Date'].max()]
mx6['above'] = 6
mx9 = earthquakes_up_9[earthquakes_up_9['Date'] == earthquakes_up_9['Date'].max()]
mx9['above'] = 9

total = pd.DataFrame(pd.concat([mx6,mx9]))
total

      Date  above
Date
2011   163      6
2004     1      9
2011     1      9

## 4

In [ ]:
earthquakes_df['Time'] = earthquakes_df['Time'].str[:2]
hour_count = pd.DataFrame(earthquakes_df.groupby(['Time'])['Time'].count())
hour_count[hour_count['Time'] == hour_count['Time'].max()]

      Time
Time
13    1058

# **Q3**

In [ ]:
!kaggle datasets download -d karangadiya/fifa19 -p ./datasets/fifa19/
!unzip ./datasets/fifa19/*.zip -d ./datasets/fifa19/
fifa_df = pd.read_csv('/content/datasets/fifa19/data.csv')

Downloading fifa19.zip to ./datasets/fifa19
  0% 0.00/2.18M [00:00<?, ?B/s]
100% 2.18M/2.18M [00:00<00:00, 61.2MB/s]
Archive:  ./datasets/fifa19/fifa19.zip
  inflating: ./datasets/fifa19/data.csv

## 1

In [ ]:
def highest_strength(country):
  pl_df = fifa_df[fifa_df['Nationality'] == country.capitalize()]
  return  pl_df[pl_df['Strength'] == pl_df['Strength'].max()]

In [ ]:
highest_strength('france')

      Unnamed: 0      ID  ... GKReflexes  Release Clause
1193        1193  202750  ...        9.0          €17.8M
5192        5192  228732  ...        9.0           €5.3M
7144        7144  200067  ...       13.0           €900K
8504        8504  212420  ...        8.0           €1.8M

[4 rows x 89 columns]

In [ ]:
highest_strength('brazil')

      Unnamed: 0      ID    Name  ...  GKPositioning GKReflexes Release Clause
1124        1124  232381  Wesley  ...            8.0        6.0           €23M

[1 rows x 89 columns]

## 2

In [ ]:
def overall_avg(club):
  cl_df = fifa_df[fifa_df['Club'] == club]
  return  cl_df['Overall'].mean(axis=0, skipna=True)

In [ ]:
overall_avg('FC Barcelona')

78.03030303030303