In [ ]:
!mkdir /root/.kaggle/
!pip install regex
!pip install pandas

import os
import json
import regex as re
import pandas as pd


# Installing the Kaggle package
!pip install kaggle 

#Important Note: complete this with your own key - after running this for the first time remmember to **remove** your API_KEY
api_token = {"username":"some","key":"thing"}


# creating kaggle.json file with the personal API-Key details 
# You can also put this file on your Google Drive
with open('/root/.kaggle/kaggle.json', 'w') as file:
  json.dump(api_token, file)
!chmod 600 /root/.kaggle/kaggle.json

mkdir: cannot create directory ‘/root/.kaggle/’: File exists
Requirement already satisfied: regex in /usr/local/lib/python3.6/dist-packages (2019.12.20)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.1.4)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.9)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (0.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.11.8)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)

# Q1

In [ ]:
# download the dataset from Kaggle and unzip it
!kaggle datasets download -d rtatman/blog-authorship-corpus -p ./datasets/blog/
!unzip ./datasets/blog/*.zip  -d ./datasets/blog/

blog_df = pd.read_csv('/content/datasets/blog/blogtext.csv')

blog-authorship-corpus.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  ./datasets/blog/blog-authorship-corpus.zip
  inflating: ./datasets/blog/blogtext.csv

## 1

In [ ]:
signs = list(set(blog_df.sign))
dic = {n:0 for n in signs}
for i in range(len(blog_df.text)):
  p = re.findall('\w+', blog_df.text[i])
  s = len(list(filter(lambda n: len(n) >= 8, p)))
  dic[blog_df.sign[i]] += s

print(list(filter(lambda n: dic[n] == dic[max(dic, key=dic.get)], dic.keys())))

['Cancer']

## 2

In [ ]:
import datetime as dt
dic = {n:0 for n in range(0,7)}
for i in range(len(blog_df.date)):
  try: 
    date_obj = dt.datetime.strptime(blog_df.date[i], '%d,%B,%Y')
  except ValueError:
    continue
  dic[date_obj.weekday()] += 1

In [ ]:
import calendar as cl
for i in range(7):
  print(cl.day_name[i], dic[i])

Monday 115289
Tuesday 110235
Wednesday 100156
Thursday 104817
Friday 85935
Saturday 64305
Sunday 92801

## 3

In [ ]:
dic = {i:0 for i in list(set(blog_df.topic))}
for i in range(len(blog_df.text)):
  email = re.findall(r'[\w\.-]+@[\w\.-]+', blog_df.text[i])
  dic[blog_df.topic[i]] += len(email)

dic

{'Accounting': 38,
 'Advertising': 43,
 'Agriculture': 4,
 'Architecture': 33,
 'Arts': 348,
 'Automotive': 5,
 'Banking': 27,
 'Biotech': 79,
 'BusinessServices': 78,
 'Chemicals': 43,
 'Communications-Media': 337,
 'Construction': 17,
 'Consulting': 78,
 'Education': 416,
 'Engineering': 107,
 'Environment': 4,
 'Fashion': 25,
 'Government': 42,
 'HumanResources': 29,
 'Internet': 417,
 'InvestmentBanking': 0,
 'Law': 50,
 'LawEnforcement-Security': 19,
 'Manufacturing': 7,
 'Maritime': 4,
 'Marketing': 75,
 'Military': 17,
 'Museums-Libraries': 36,
 'Non-Profit': 478,
 'Publishing': 88,
 'RealEstate': 19,
 'Religion': 47,
 'Science': 109,
 'Sports-Recreation': 32,
 'Student': 1550,
 'Technology': 561,
 'Telecommunications': 53,
 'Tourism': 29,
 'Transportation': 20,
 'indUnk': 2278}

## 4

In [ ]:
dic = {i:0 for i in list(set(blog_df.id))}
for i in range(len(blog_df.text)):
  url = re.findall(r"(?i)\b((?:https?://|www\d{0,3}[.]|[a-z0-9.\-]+[.][a-z]{2,4}/)(?:[^\s()<>]+|\(([^\s()<>]+|(\([^\s()<>]+\)))*\))+(?:\(([^\s()<>]+|(\([^\s()<>]+\)))*\)|[^\s`!()\[\]{};:'\".,<>?«»“”‘’]))", blog_df.text[i])
  dic[blog_df.id[i]] += len(url)

print(list(filter(lambda n: dic[n] == dic[max(dic, key=dic.get)], dic.keys())))

[3495970]

## 5

In [ ]:
dic = {i:0 for i in list(set(blog_df.topic))}
for i in range(len(blog_df.text)):
  num = re.findall(r"[\d,]+", blog_df.text[i])
  if len(num) and len(max(num, key=len)) >  dic[blog_df.topic[i]]:
    dic[blog_df.topic[i]] = len(max(num, key=len))

print(list(filter(lambda n: dic[n] == dic[max(dic, key=dic.get)], dic.keys())))

['Student']

#Q2

In [ ]:
# download the dataset from Kaggle and unzip it
!kaggle datasets download -d NUFORC/ufo-sightings -p ./datasets/UFO/
!unzip ./datasets/UFO/*.zip  -d ./datasets/UFO/
df_comp = pd.read_csv('/content/datasets/UFO/complete.csv', error_bad_lines=False)

ufo-sightings.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  ./datasets/UFO/ufo-sightings.zip
replace ./datasets/UFO/complete.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: ./datasets/UFO/complete.csv
  inflating: ./datasets/UFO/scrubbed.csv

b'Skipping line 878: expected 11 fields, saw 12\nSkipping line 1713: expected 11 fields, saw 12\nSkipping line 1815: expected 11 fields, saw 12\nSkipping line 2858: expected 11 fields, saw 12\nSkipping line 3734: expected 11 fields, saw 12\nSkipping line 4756: expected 11 fields, saw 12\nSkipping line 5389: expected 11 fields, saw 12\nSkipping line 5423: expected 11 fields, saw 12\nSkipping line 5614: expected 11 fields, saw 12\nSkipping line 5849: expected 11 fields, saw 12\nSkipping line 6093: expected 11 fields, saw 12\nSkipping line 7516: expected 11 fields, saw 12\nSkipping line 7626: expected 11 fields, saw 12\nSkipping line 8893: expected 11 fields, saw 12\nSkipping line 9015: expected 11 fields, saw 12\nSkipping line 9571: expected 11 fields, saw 12\nSkipping line 9620: expected 11 fields, saw 12\nSkipping line 9751: expected 11 fields, saw 12\nSkipping line 10157: expected 11 fields, saw 12\nSkipping line 10427: expected 11 fields, saw 12\nSkipping line 12035: expected 11 fields, saw 12\nSkipping line 12113: expected 11 fields, saw 12\nSkipping line 12144: expected 11 fields, saw 12\nSkipping line 12891: expected 11 fields, saw 12\nSkipping line 14613: expected 11 fields, saw 12\nSkipping line 16031: expected 11 fields, saw 12\nSkipping line 16344: expected 11 fields, saw 12\nSkipping line 16399: expected 11 fields, saw 12\nSkipping line 16635: expected 11 fields, saw 12\nSkipping line 16722: expected 11 fields, saw 12\nSkipping line 18241: expected 11 fields, saw 12\nSkipping line 18367: expected 11 fields, saw 12\nSkipping line 18479: expected 11 fields, saw 12\nSkipping line 19814: expected 11 fields, saw 12\nSkipping line 19859: expected 11 fields, saw 12\nSkipping line 19909: expected 11 fields, saw 12\nSkipping line 19935: expected 11 fields, saw 12\nSkipping line 20386: expected 11 fields, saw 12\nSkipping line 20533: expected 11 fields, saw 12\nSkipping line 20764: expected 11 fields, saw 12\nSkipping line 21145: expected 11 fields, saw 12\nSkipping line 21291: expected 11 fields, saw 12\nSkipping line 21309: expected 11 fields, saw 12\nSkipping line 21576: expected 11 fields, saw 12\nSkipping line 21966: expected 11 fields, saw 12\nSkipping line 22092: expected 11 fields, saw 12\nSkipping line 22108: expected 11 fields, saw 12\nSkipping line 22236: expected 11 fields, saw 12\nSkipping line 22785: expected 11 fields, saw 12\nSkipping line 23143: expected 11 fields, saw 12\nSkipping line 23145: expected 11 fields, saw 12\nSkipping line 23251: expected 11 fields, saw 12\nSkipping line 23369: expected 11 fields, saw 12\nSkipping line 23464: expected 11 fields, saw 12\nSkipping line 23622: expected 11 fields, saw 12\nSkipping line 23732: expected 11 fields, saw 12\nSkipping line 23924: expected 11 fields, saw 12\nSkipping line 24696: expected 11 fields, saw 12\nSkipping line 25543: expected 11 fields, saw 12\nSkipping line 25703: expected 11 fields, saw 12\nSkipping line 25815: expected 11 fields, saw 12\nSkipping line 26185: expected 11 fields, saw 12\nSkipping line 27424: expected 11 fields, saw 12\nSkipping line 27465: expected 11 fields, saw 12\nSkipping line 28083: expected 11 fields, saw 12\nSkipping line 28282: expected 11 fields, saw 12\nSkipping line 28460: expected 11 fields, saw 12\nSkipping line 28745: expected 11 fields, saw 12\nSkipping line 29674: expected 11 fields, saw 12\nSkipping line 30342: expected 11 fields, saw 12\nSkipping line 30417: expected 11 fields, saw 12\nSkipping line 31154: expected 11 fields, saw 12\nSkipping line 31308: expected 11 fields, saw 12\nSkipping line 32198: expected 11 fields, saw 12\nSkipping line 32439: expected 11 fields, saw 12\nSkipping line 32675: expected 11 fields, saw 12\nSkipping line 33134: expected 11 fields, saw 12\nSkipping line 33442: expected 11 fields, saw 12\nSkipping line 34184: expected 11 fields, saw 12\nSkipping line 34731: expected 11 fields, saw 12\nSkipping line 34869: expected 11 fields, saw 12\nSkipping line 35107: expected 11 fields, saw 12\nSkipping line 35300: expected 11 fields, saw 12\nSkipping line 35396: expected 11 fields, saw 12\nSkipping line 35913: expected 11 fields, saw 12\nSkipping line 36445: expected 11 fields, saw 12\nSkipping line 36693: expected 11 fields, saw 12\nSkipping line 36723: expected 11 fields, saw 12\nSkipping line 37293: expected 11 fields, saw 12\nSkipping line 37361: expected 11 fields, saw 12\nSkipping line 37980: expected 11 fields, saw 12\nSkipping line 38090: expected 11 fields, saw 12\nSkipping line 38197: expected 11 fields, saw 12\nSkipping line 39431: expected 11 fields, saw 12\nSkipping line 39598: expected 11 fields, saw 12\nSkipping line 39679: expected 11 fields, saw 12\nSkipping line 39794: expected 11 fields, saw 12\nSkipping line 40021: expected 11 fields, saw 12\nSkipping line 40430: expected 11 fields, saw 12\nSkipping line 42858: expected 11 fields, saw 12\nSkipping line 43662: expected 11 fields, saw 12\nSkipping line 44162: expected 11 fields, saw 12\nSkipping line 45529: expected 11 fields, saw 12\nSkipping line 46678: expected 11 fields, saw 12\nSkipping line 46788: expected 11 fields, saw 12\nSkipping line 46811: expected 11 fields, saw 12\nSkipping line 46924: expected 11 fields, saw 12\nSkipping line 47287: expected 11 fields, saw 12\nSkipping line 47377: expected 11 fields, saw 12\nSkipping line 47419: expected 11 fields, saw 12\nSkipping line 47492: expected 11 fields, saw 12\nSkipping line 47629: expected 11 fields, saw 12\nSkipping line 48125: expected 11 fields, saw 12\nSkipping line 48932: expected 11 fields, saw 12\nSkipping line 48971: expected 11 fields, saw 12\nSkipping line 49440: expected 11 fields, saw 12\nSkipping line 49457: expected 11 fields, saw 12\nSkipping line 50670: expected 11 fields, saw 12\nSkipping line 50960: expected 11 fields, saw 12\nSkipping line 51275: expected 11 fields, saw 12\nSkipping line 51649: expected 11 fields, saw 12\nSkipping line 51993: expected 11 fields, saw 12\nSkipping line 52023: expected 11 fields, saw 12\nSkipping line 52059: expected 11 fields, saw 12\nSkipping line 52259: expected 11 fields, saw 12\nSkipping line 52368: expected 11 fields, saw 12\nSkipping line 52783: expected 11 fields, saw 12\nSkipping line 53064: expected 11 fields, saw 12\nSkipping line 53135: expected 11 fields, saw 12\nSkipping line 53514: expected 11 fields, saw 12\nSkipping line 54092: expected 11 fields, saw 12\nSkipping line 55403: expected 11 fields, saw 12\nSkipping line 57476: expected 11 fields, saw 12\nSkipping line 58646: expected 11 fields, saw 12\nSkipping line 58808: expected 11 fields, saw 12\nSkipping line 59119: expected 11 fields, saw 12\nSkipping line 59727: expected 11 fields, saw 12\nSkipping line 60386: expected 11 fields, saw 12\nSkipping line 60478: expected 11 fields, saw 12\nSkipping line 60542: expected 11 fields, saw 12\nSkipping line 60913: expected 11 fields, saw 12\nSkipping line 61032: expected 11 fields, saw 12\nSkipping line 61640: expected 11 fields, saw 12\nSkipping line 61732: expected 11 fields, saw 12\nSkipping line 62029: expected 11 fields, saw 12\nSkipping line 62219: expected 11 fields, saw 12\nSkipping line 63657: expected 11 fields, saw 12\nSkipping line 64712: expected 11 fields, saw 12\n'
b'Skipping line 65881: expected 11 fields, saw 12\nSkipping line 66093: expected 11 fields, saw 12\nSkipping line 66095: expected 11 fields, saw 12\nSkipping line 66476: expected 11 fields, saw 12\nSkipping line 66549: expected 11 fields, saw 12\nSkipping line 66550: expected 11 fields, saw 12\nSkipping line 68102: expected 11 fields, saw 12\nSkipping line 69441: expected 11 fields, saw 12\nSkipping line 70104: expected 11 fields, saw 12\nSkipping line 70452: expected 11 fields, saw 12\nSkipping line 70642: expected 11 fields, saw 12\nSkipping line 70644: expected 11 fields, saw 12\nSkipping line 70716: expected 11 fields, saw 12\nSkipping line 71345: expected 11 fields, saw 12\nSkipping line 71634: expected 11 fields, saw 12\nSkipping line 72091: expected 11 fields, saw 12\nSkipping line 72119: expected 11 fields, saw 12\nSkipping line 73543: expected 11 fields, saw 12\nSkipping line 74654: expected 11 fields, saw 12\nSkipping line 74785: expected 11 fields, saw 12\nSkipping line 74918: expected 11 fields, saw 12\nSkipping line 75062: expected 11 fields, saw 12\nSkipping line 75346: expected 11 fields, saw 12\nSkipping line 75416: expected 11 fields, saw 12\nSkipping line 75677: expected 11 fields, saw 12\nSkipping line 75833: expected 11 fields, saw 12\nSkipping line 76117: expected 11 fields, saw 12\nSkipping line 76834: expected 11 fields, saw 12\nSkipping line 77540: expected 11 fields, saw 12\nSkipping line 77568: expected 11 fields, saw 12\nSkipping line 77607: expected 11 fields, saw 12\nSkipping line 77871: expected 11 fields, saw 12\nSkipping line 78117: expected 11 fields, saw 12\nSkipping line 78526: expected 11 fields, saw 12\nSkipping line 78605: expected 11 fields, saw 12\nSkipping line 79151: expected 11 fields, saw 12\nSkipping line 79945: expected 11 fields, saw 12\nSkipping line 80156: expected 11 fields, saw 12\nSkipping line 80328: expected 11 fields, saw 12\nSkipping line 80382: expected 11 fields, saw 12\nSkipping line 80421: expected 11 fields, saw 12\nSkipping line 80503: expected 11 fields, saw 12\nSkipping line 82071: expected 11 fields, saw 12\nSkipping line 82566: expected 11 fields, saw 12\nSkipping line 86123: expected 11 fields, saw 12\nSkipping line 87218: expected 11 fields, saw 12\nSkipping line 87457: expected 11 fields, saw 12\nSkipping line 87579: expected 11 fields, saw 12\n'
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df_comp['datetime'] = pd.DataFrame(pd.to_datetime(df_comp['datetime'], format= '%m/%d/%Y %H:%M', errors='coerce'))
df_comp['year'], df_comp['hour'] = df_comp['datetime'].dt.year, df_comp['datetime'].dt.hour

##1

In [ ]:
def reports_num(in_country, in_year):
  df_comp['datetime'] = pd.DataFrame(pd.to_datetime(df_comp['datetime'], format= '%m/%d/%Y %H:%M', errors='coerce'))
  df_comp['year'], df_comp['month'] = df_comp['datetime'].dt.year, df_comp['datetime'].dt.month
  df_result = df_comp[(df_comp['year'] == int(in_year)) & (df_comp['country'] == in_country)]
  return df_result.shape[0]

reports_num('us', 2000)

2343

##2

In [ ]:
from collections import Counter
year_count = Counter(df_comp['year'])
year_count.most_common(1)[0][0]

2012.0

##3

In [ ]:
hour_count = Counter(df_comp['hour'])
hour_count.most_common(1)[0][0]

21.0

##4

In [ ]:
def max_comment(text):
  l = re.findall(r'(\s*(\w+\s\w{4,})\s*\b|\b\s*(\w{4,}\s\w+)\s*)|\s*(\w{2,}\s\w{3,})\s*\b|\s*(\w{3,}\s\w{2,})\s*\b', str(text))
  return len(l)
df_comp['max_6comment'] = df_comp['comments'].apply(lambda text: max_comment(text))
pd.DataFrame(df_comp[df_comp['max_6comment'] == df_comp['max_6comment'].max()]['comments'])

                                                comments
16254  What I and my wife seen that night on are way ...
57149  i was ridind to work. i seen a grate sun rise ...
71699  I would like to start by saying the date is a ...

##5

In [ ]:
def max_4digit(text):
  l = re.findall(r'\b\s*(\d{4})\s*\b', str(text))
  return len(l)

df_comp['comment_4digit'] = df_comp['comments'].apply(lambda text: max_4digit(text))
pd.DataFrame(df_comp[df_comp['comment_4digit'] == df_comp['comment_4digit'].max()]['country'])

      country
66553      us

##6

In [ ]:
def pattern_x(text):
  l = re.findall(r'\b\s*(\w\w\d\w)\s*\b', str(text))
  return len(l)

df_comp['pattern'] = df_comp['comments'].apply(lambda text: pattern_x(text))
df_comp[df_comp['pattern'] > 0]

                 datetime             city  ... comment_4digit pattern
0     1949-10-10 20:30:00       san marcos  ...              1       1
1     1949-10-10 21:00:00     lackland afb  ...              1       1
4     1960-10-10 20:00:00          kaneohe  ...              0       1
8     1966-10-10 20:00:00        pell city  ...              1       1
15    1972-10-10 19:00:00    harlan county  ...              1       1
...                   ...              ...  ...            ...     ...
88562 2008-09-09 18:00:00           mokena  ...              1       1
88577 2009-09-09 20:10:00        haverhill  ...              1       1
88602 2010-09-09 20:30:00      tinley park  ...              1       1
88624 2011-09-09 23:00:00          kenmore  ...              1       1
88636 2012-09-09 14:00:00  pictou (canada)  ...              1       1

[4557 rows x 17 columns]